version: '3.8'

services:
  calculator:
    build:
      context: .
      dockerfile: go-app.Dockerfile
    ports:
      - "8080:8080"
    networks:
      - app-net

  webrtc:
    build:
      context: .
      dockerfile: webrtc.Dockerfile
    ports:
      - "8000:8000"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge